body {
    background-color: white;
}

.nav {
    background-color: white;
}

.img-logo {
    width: 150px;
    height: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.card img {
    width: 25rem;
    height: 400px;
}